Repository Consensys/linea-monorepo, pull requests merged in 2024-10, with the labels that each got.

#148 coordinator: try fix flacky ObservabilityServerTest
  jvm-libs/vertx-helper/src/main/kotlin/net/consensys/linea/vertx/ObservabilityServer.kt
  jvm-libs/vertx-helper/src/test/kotlin/net/consensys/linea/vertx/ObservabilityServerTest.kt
Labels: Coordinator

#176 Feat/autocompute nbkeccakf
  prover/circuits/pi-interconnection/bench/main.go
  prover/circuits/pi-interconnection/circuit.go
  prover/circuits/pi-interconnection/circuit_test.go
  prover/circuits/pi-interconnection/compile/test_compile.go
  prover/circuits/pi-interconnection/e2e_test.go
  prover/circuits/pi-interconnection/keccak/assign.go
  prover/circuits/pi-interconnection/keccak/assign_test.go
  prover/circuits/pi-interconnection/keccak/snark.go
  prover/config/config.go
Labels: enhancement, Prover

#74 Prover/splitter compiler
  prover/protocol/column/verifiercol/expand_verifcol.go
  prover/protocol/compiler/splitter/splitter/stitcher/stitcher_test.go
  prover/protocol/compiler/stitch_split/common.go
  prover/protocol/compiler/stitch_split/splitter/constraints.go
  prover/protocol/compiler/stitch_split/splitter/splitter.go
  prover/protocol/compiler/stitch_split/splitter/splitter_test.go
  prover/protocol/compiler/stitch_split/stitcher/constraints.go
  prover/protocol/compiler/stitch_split/stitcher/stitcher.go
  prover/protocol/compiler/stitch_split/stitcher/stitcher_test.go
  prover/protocol/query/global.go
  prover/protocol/query/global_test.go
  prover/zkevm/prover/hash/packing/cld.go
  prover/zkevm/prover/hash/packing/dedicated/len_consistency.go
Labels: Prover

#155 fixed the bug in the permutation
  prover/protocol/compiler/permutation/compiler.go
  prover/protocol/compiler/permutation/compiler_test.go
Labels: Prover

#172 fix: ensure IsActive column does not re-activate
  prover/zkevm/prover/ecdsa/adress.go
  prover/zkevm/prover/ecdsa/antichamber.go
  prover/zkevm/prover/ecdsa/antichamber_constraints.go
  prover/zkevm/prover/ecdsa/ecdata.go
  prover/zkevm/prover/ecdsa/utils.go
  prover/zkevm/prover/ecpair/ecpair.go
  prover/zkevm/prover/ecpair/ecpair_constraints.go
Labels: bug, Prover

#173 fix: add binary constraints for accumulators first lines
  prover/zkevm/prover/ecpair/ecpair_constraints.go
Labels: bug, Prover

#174 fix: add exclusive constraint for Miller loop and Final exp masks
  prover/zkevm/prover/ecpair/ecpair.go
  prover/zkevm/prover/ecpair/ecpair_assignment.go
  prover/zkevm/prover/ecpair/ecpair_constraints.go
  prover/zkevm/prover/ecpair/ecpair_test.go
  prover/zkevm/prover/ecpair/testdata/ecpair_double_pair_module.csv
  prover/zkevm/prover/ecpair/testdata/ecpair_failing_double_pair_module.csv
  prover/zkevm/prover/ecpair/testdata/ecpair_triple_pair_module.csv
  prover/zkevm/prover/ecpair/testdata/ecpair_two_pairings_module.csv
Labels: bug, Prover

#187 Decompression Prover input padding and error handling
  prover/backend/blobdecompression/prove.go
Labels: bug, Prover

#199 fix coordinator local overrides file
  config/coordinator/coordinator-local-dev.config.overrides.toml
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/blockcreation/TracesFilesManagerTest.kt
Labels: Coordinator

#171 fixed multi column
  prover/protocol/compiler/lookup/compiler.go
  prover/protocol/compiler/lookup/compiler_test.go
  prover/protocol/compiler/lookup/conditional_test.go
  prover/protocol/compiler/lookup/prover.go
  prover/protocol/compiler/lookup/utils.go
  prover/protocol/compiler/lookup/verifier.go
  prover/protocol/compiler/lookup/z_packing.go
  prover/protocol/compiler/selfrecursion/selfrecursion_test.go
  prover/protocol/compiler/specialqueries/range_test.go
  prover/protocol/wizardutils/evaluation.go
Labels: Prover

#201 fixing the round problem in the inner-product compiler
  prover/protocol/compiler/innerproduct/compiler.go
  prover/protocol/compiler/innerproduct/context.go
  prover/protocol/compiler/innerproduct/innerproduct_test.go
Labels: Prover

#157 feat: rewrite error logs from blob submission eth_call due to insuffi…
  coordinator/ethereum/blob-submitter/src/main/kotlin/net/consensys/zkevm/ethereum/submission/LoggingHelper.kt
  coordinator/ethereum/blob-submitter/src/test/kotlin/net/consensys/zkevm/ethereum/submission/LoggingHelperTest.kt
Labels: Coordinator

#194 Jackson Serialiser and Deserialisers
  coordinator/clients/prover-client/serialization/src/test/kotlin/net/consensys/zkevm/coordinator/clients/prover/serialization/ProofToFinalizeJsonResponseTest.kt
  gradle/libs.versions.toml
  jvm-libs/generic/serialization/jackson/build.gradle
  jvm-libs/generic/serialization/jackson/src/main/kotlin/build/linea/s11n/jackson/BytesHexSerDe.kt
  jvm-libs/generic/serialization/jackson/src/main/kotlin/build/linea/s11n/jackson/InstantISO8601SerDe.kt
  jvm-libs/generic/serialization/jackson/src/main/kotlin/build/linea/s11n/jackson/NumbersHexSerDe.kt
  jvm-libs/generic/serialization/jackson/src/main/kotlin/build/linea/s11n/jackson/ObjectMappers.kt
  jvm-libs/generic/serialization/jackson/src/test/kotlin/build/linea/s11n/jackson/BytesSerDeTest.kt
  jvm-libs/generic/serialization/jackson/src/test/kotlin/build/linea/s11n/jackson/InstantISO8601SerDeTest.kt
  jvm-libs/generic/serialization/jackson/src/test/kotlin/build/linea/s11n/jackson/NumbersSerDeTest.kt
  settings.gradle
Labels: Coordinator

#195 JSON-RPC client improvements
  jvm-libs/json-rpc/build.gradle
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/JsonRpcMessageProcessor.kt
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/JsonRpcRequest.kt
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/JsonRpcResponse.kt
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/JsonRpcClient.kt
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/JsonRpcRequestFanOut.kt
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/JsonRpcRequestRetryer.kt
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/JsonRpcRequestRetryerV2.kt
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/JsonRpcV2Client.kt
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/JsonRpcV2ClientImpl.kt
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/ObjectMappers.kt
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/SequentialIdSupplier.kt
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/VertxHttpJsonRpcClient.kt
  jvm-libs/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/VertxHttpJsonRpcClientFactory.kt
  jvm-libs/json-rpc/src/test/kotlin/net/consensys/linea/jsonrpc/client/JsonRpcV2ClientImplTest.kt
  jvm-libs/json-rpc/src/test/kotlin/net/consensys/linea/jsonrpc/client/VertxHttpJsonRpcClientTest.kt
  traces-api-facade/conflation/src/main/kotlin/net/consensys/linea/traces/RawJsonTracesConflator.kt
Labels: Coordinator

#204 added verifier check in sticker, fixed the edge case in product
  prover/protocol/compiler/splitter/sticker/sticker.go
  prover/symbolic/product.go
Labels: Prover

#214 fixed the bug in PolyEval
  prover/maths/common/smartvectors/arithmetic_basic.go
  prover/protocol/compiler/innerproduct/context.go
  prover/protocol/wizardutils/evaluation.go
  prover/protocol/wizardutils/wizardutils_test.go
Labels: Prover

#227 coordinator: remove dep on tuweni in domain model
  coordinator/app/build.gradle
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/blockcreation/TracesCountersV1WatcherClient.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/blockcreation/BlockCreationMonitorTest.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/blockcreation/ForkChoiceUpdaterImplTest.kt
  coordinator/clients/prover-client/file-based-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/prover/ExecutionProofRequestDataDecoratorTest.kt
  coordinator/clients/prover-client/file-based-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/prover/ProverClientFactoryTest.kt
  coordinator/clients/prover-client/serialization/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/serialization/JsonSerialization.kt
  coordinator/clients/shomei-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/ShomeiClient.kt
  coordinator/clients/shomei-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/ShomeiClientTest.kt
  coordinator/clients/traces-generator-api-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/TracesGeneratorJsonRpcClientV1.kt
  coordinator/clients/traces-generator-api-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/TracesGeneratorJsonRpcClientV1Test.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blockcreation/SafeBlockProvider.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/BlockToBatchSubmissionCoordinator.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ProofGeneratingConflationHandlerImpl.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationTriggerCalculatorByDeadlineTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/GlobalAggregationCalculatorTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/BlockToBatchSubmissionCoordinatorTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ConflationCalculatorByTimeDeadlineTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ConflationServiceImplTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/GlobalBlobAwareConflationCalculatorTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/GlobalBlockConflationCalculatorIntTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/TracesConflationCoordinatorImplTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/upgrade/SwitchAwareConflationHandlerTest.kt
  coordinator/ethereum/finalization-monitor/src/test/kotlin/net/consensys/zkevm/ethereum/finalization/FinalizationMonitorImplTest.kt
  coordinator/persistence/aggregation/build.gradle
  coordinator/persistence/blob/build.gradle
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/net/consensys/ByteArrayExtensions.kt
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/net/consensys/StringExtensions.kt
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/net/consensys/TypingsExtensions.kt
  jvm-libs/generic/extensions/kotlin/src/test/kotlin/net/consensys/ByteArrayExtensionsTest.kt
  jvm-libs/generic/extensions/kotlin/src/test/kotlin/net/consensys/StringExtensionsTest.kt
  jvm-libs/generic/extensions/kotlin/src/test/kotlin/net/consensys/TypingsExtensionsTest.kt
  jvm-libs/linea/core/domain-models/build.gradle
  jvm-libs/linea/core/domain-models/src/main/kotlin/net/consensys/linea/BlockNumberAndHash.kt
  jvm-libs/linea/testing/teku-helper/build.gradle
  jvm-libs/linea/testing/teku-helper/src/main/kotlin/tech/pegasys/teku/ethereum/executionclient/schema/ExecutionPayloadV1.kt
  traces-api-facade/app/build.gradle
  traces-api-facade/app/src/main/kotlin/net/consensys/linea/traces/app/api/RequestHandlersV1.kt
  traces-api-facade/app/src/main/kotlin/net/consensys/linea/traces/repository/FilesystemTracesRepositoryV1.kt
Labels: Coordinator

#230 Blob Decompressor and Some Helpers
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/build/linea/URIExtensions.kt
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/build/linea/jvm/ResourcesUtil.kt
  jvm-libs/generic/extensions/kotlin/src/test/kotlin/build/linea/URIExtensionsTest.kt
  jvm-libs/generic/extensions/kotlin/src/test/kotlin/build/linea/jvm/ResourcesUtilTest.kt
  jvm-libs/generic/extensions/kotlin/src/test/resources/root-resource.txt
  jvm-libs/generic/extensions/kotlin/src/test/resources/test/folder/nested-resource.txt
  jvm-libs/generic/extensions/kotlin/src/test/resources/test/folder2/nested-resource.txt
  jvm-libs/generic/extensions/tuweni/build.gradle
  jvm-libs/generic/extensions/tuweni/src/main/kotlin/build/linea/tuweni/Bytes32.kt
  jvm-libs/generic/extensions/tuweni/src/test/kotlin/build/linea/tuweni/Bytes32Test.kt
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/VertxHttpJsonRpcClientFactory.kt
  jvm-libs/generic/json-rpc/src/test/kotlin/net/consensys/linea/jsonrpc/client/JsonRpcV2ClientImplTest.kt
  jvm-libs/generic/vertx-helper/build.gradle
  jvm-libs/generic/vertx-helper/src/main/kotlin/net/consensys/linea/vertx/ClientOptions.kt
  jvm-libs/linea/blob-compressor/build.gradle
  jvm-libs/linea/blob-compressor/src/main/kotlin/net/consensys/linea/blob/GoNativeBlobCompressor.kt
  jvm-libs/linea/blob-compressor/src/test/resources/net/consensys/linea/nativecompressor/rlp_blocks.bin
  jvm-libs/linea/blob-decompressor/build.gradle
  jvm-libs/linea/blob-decompressor/src/main/kotlin/net/consensys/linea/blob/GoNativeBlobDecompressor.kt
  jvm-libs/linea/blob-decompressor/src/main/resources/.gitignore
  jvm-libs/linea/blob-decompressor/src/main/resources/compressor_dict.bin
  jvm-libs/linea/blob-decompressor/src/test/kotlin/net/consensys/linea/blob/BlobDecompressorDataDecodingTest.kt
  jvm-libs/linea/blob-decompressor/src/test/kotlin/net/consensys/linea/blob/GoNativeBlobDecompressorTest.kt
  jvm-libs/linea/blob-decompressor/src/test/kotlin/net/consensys/linea/blob/RLPHelper.kt
  settings.gradle
Labels: Coordinator

#231 Coordinator: carve out BlockInterval
  coordinator/app/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ConsecutiveProvenBlobsProviderWithLastEndBlockNumberTrackerTest.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/ABProverClientRouter.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/GenericFileBasedProverClient.kt
  coordinator/clients/prover-client/file-based-client/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/ProverClientFactory.kt
  coordinator/clients/prover-client/file-based-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/prover/GenericFileBasedProverClientTest.kt
  coordinator/clients/prover-client/file-based-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/prover/ProverClientFactoryTest.kt
  coordinator/clients/prover-client/serialization/src/main/kotlin/net/consensys/zkevm/coordinator/clients/prover/serialization/BlobJsonFileRequestResponse.kt
  coordinator/clients/prover-client/serialization/src/test/kotlin/net/consensys/zkevm/coordinator/clients/prover/serialization/BlobCompressionProofJsonResponseTest.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/coordinator/clients/BatchExecutionProverRequestResponse.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/coordinator/clients/BlobCompressionProverRequestResponse.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/domain/Aggregation.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/domain/Blob.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/domain/Conflation.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/domain/ProofIndex.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/AggregationTriggerCalculatorByTargetBlockNumbers.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorService.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressionProofCoordinator.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressionProofHandler.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobShnarfCalulator.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/RollingBlobShnarfCalculator.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/GlobalBlobAwareConflationCalculator.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/coordination/blob/GoBackedCalculateShnarfCalculatorTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorServiceTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/blob/RollingBlobShnarfCalculatorTest.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/BlockToBatchSubmissionCoordinatorTest.kt
  coordinator/core/src/testFixtures/kotlin/net/consensys/zkevm/domain/BlobRecord.kt
  coordinator/ethereum/blob-submitter/src/main/kotlin/net/consensys/zkevm/ethereum/submission/BlobSubmissionCoordinator.kt
  coordinator/ethereum/blob-submitter/src/main/kotlin/net/consensys/zkevm/ethereum/submission/BlobSubmissionHelper.kt
  coordinator/ethereum/blob-submitter/src/main/kotlin/net/consensys/zkevm/ethereum/submission/BlobSubmitterAsEIP4844MultipleBlobsPerTx.kt
  coordinator/ethereum/blob-submitter/src/main/kotlin/net/consensys/zkevm/ethereum/submission/BlobsGrouperForSubmission.kt
  coordinator/ethereum/blob-submitter/src/main/kotlin/net/consensys/zkevm/ethereum/submission/ContractUpgradeSubmissionLatchFilter.kt
  coordinator/ethereum/blob-submitter/src/test/kotlin/net/consensys/zkevm/ethereum/submission/BlobSubmissionCoordinatorTest.kt
  coordinator/ethereum/blob-submitter/src/test/kotlin/net/consensys/zkevm/ethereum/submission/BlobSubmissionHelperKtTest.kt
  coordinator/persistence/aggregation/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/aggregation/AggregationsPostgresDaoTest.kt
  coordinator/persistence/aggregation/src/main/kotlin/net/consensys/zkevm/persistence/dao/aggregation/PostgresAggregationsDao.kt
  coordinator/persistence/aggregation/src/test/kotlin/net/consensys/zkevm/persistence/dao/aggregation/RetryingPostgresAggregationsDaoTest.kt
  coordinator/persistence/blob/src/integrationTest/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressionProofCoordinatorIntTest.kt
  coordinator/persistence/blob/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/blob/BlobsPostgresDaoTest.kt
  coordinator/persistence/blob/src/test/kotlin/net/consensys/zkevm/ethereum/coordinator/blob/BlobCompressionProofCoordinatorTest.kt
  coordinator/persistence/blob/src/test/kotlin/net/consensys/zkevm/persistence/dao/blob/RetryingBlobsPostgresDaoTest.kt
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/build/linea/UrlExtensions.kt
  jvm-libs/linea/core/domain-models/src/main/kotlin/build/linea/domain/BlockInterval.kt
  jvm-libs/linea/core/domain-models/src/test/kotlin/build/linea/domain/BlockIntervalsTest.kt
Labels: Coordinator

#232 Coordinator: generic upstream client interface
  jvm-libs/linea/core/client-interface/build.gradle
  jvm-libs/linea/core/client-interface/src/main/kotlin/build/linea/clients/Client.kt
  settings.gradle
Labels: Coordinator

#233 Coordinator: Shared State Manager Client
  jvm-libs/linea/blob-decompressor/build.gradle
  jvm-libs/linea/clients/linea-state-manager/build.gradle
  jvm-libs/linea/clients/linea-state-manager/src/main/kotlin/build/linea/clients/StateManagerClientV1.kt
  jvm-libs/linea/clients/linea-state-manager/src/main/kotlin/build/linea/clients/StateManagerV1JsonRpcClient.kt
  jvm-libs/linea/clients/linea-state-manager/src/test/kotlin/build/linea/clients/StateManagerV1JsonRpcClientTest.kt
  settings.gradle
Labels: Coordinator

#235 removes unused class
  coordinator/app/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/ParentBlobDataProviderImpl.kt
Labels: Coordinator

#240 coordinator: support for smart contract v6
  Makefile
  coordinator/clients/smart-contract-client/build.gradle
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/Web3JFunctionBuildersV6.kt
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/Web3JLineaRollupSmartContractClient.kt
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/Web3JLineaRollupSmartContractClientReadOnly.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/coordinator/clients/smartcontract/LineaRollupSmartContractClient.kt
  coordinator/ethereum/blob-submitter/src/integrationTest/kotlin/net/consensys/zkevm/ethereum/finalization/BlobAndAggregationFinalizationIntTest.kt
  coordinator/ethereum/blob-submitter/src/main/kotlin/net/consensys/zkevm/ethereum/submission/L1ShnarfBasedAlreadySubmittedBlobsFilter.kt
  coordinator/ethereum/blob-submitter/src/test/kotlin/net/consensys/zkevm/ethereum/submission/L1ShnarfBasedAlreadySubmittedBlobsFilterTest.kt
  coordinator/ethereum/message-anchoring/src/integrationTest/kotlin/net.consensys.zkevm.ethereum.coordination.messageanchoring/L1EventQuerierIntegrationTest.kt
  coordinator/ethereum/message-anchoring/src/integrationTest/kotlin/net.consensys.zkevm.ethereum.coordination.messageanchoring/MessageServiceIntegrationTest.kt
  coordinator/ethereum/test-utils/build.gradle
  coordinator/ethereum/test-utils/src/main/kotlin/net/consensys/zkevm/ethereum/ContractsManager.kt
  coordinator/ethereum/test-utils/src/main/kotlin/net/consensys/zkevm/ethereum/MakefileContractDeploymentHelper.kt
  jvm-libs/linea/linea-contracts/l1-rollup/build.gradle
Labels: Coordinator

#243 java/kotlin build: allow warning locally with explicit optin
  build.gradle
Labels: Coordinator

#238 State recover: Blobscan and Execution Layer client
  coordinator/clients/prover-client/file-based-client/src/test/kotlin/net/consensys/zkevm/coordinator/clients/prover/GenericFileBasedProverClientTest.kt
  jvm-libs/generic/extensions/kotlin/build.gradle
  jvm-libs/generic/extensions/kotlin/src/main/kotlin/net/consensys/ByteArrayExtensions.kt
  jvm-libs/generic/extensions/kotlin/src/test/kotlin/net/consensys/ByteArrayExtensionsTest.kt
  settings.gradle
  state-recover/appcore/clients-interfaces/build.gradle
  state-recover/appcore/clients-interfaces/src/main/kotlin/build/linea/staterecover/clients/BlobFetcher.kt
  state-recover/appcore/clients-interfaces/src/main/kotlin/build/linea/staterecover/clients/ExecutionLayerClient.kt
  state-recover/appcore/domain-models/build.gradle
  state-recover/appcore/domain-models/src/main/kotlin/build/linea/staterecover/BlockL1RecoveredData.kt
  state-recover/appcore/domain-models/src/main/kotlin/build/linea/staterecover/TransactionL1RecoveredData.kt
  state-recover/clients/blobscan-client/build.gradle
  state-recover/clients/blobscan-client/src/main/kotlin/build/linea/staterecover/clients/blobscan/BlobScanClient.kt
  state-recover/clients/blobscan-client/src/main/kotlin/build/linea/staterecover/clients/blobscan/VertxRestClient.kt
  state-recover/clients/blobscan-client/src/test/kotlin/build/linea/staterecover/clients/blobscan/BlobScanClientTest.kt
  state-recover/clients/blobscan-client/src/test/resources/log4j2.xml
  state-recover/clients/execution-layer-json-rpc-client/build.gradle
  state-recover/clients/execution-layer-json-rpc-client/src/main/kotlin/build/linea/staterecover/clients/el/ExecutionLayerJsonRpcClient.kt
  state-recover/clients/execution-layer-json-rpc-client/src/test/kotlin/build/linea/staterecover/clients/el/ExecutionLayerJsonRpcClientTest.kt
Labels: Coordinator

#159 Prover/Hash Key Consistency
  prover/zkevm/prover/statemanager/accumulator/define.go
Labels: Prover

#169 Prover Bug Fix—Total Bytes Counter
  prover/zkevm/prover/publicInput/execution_data_collector/execution_data_collector.go
  prover/zkevm/prover/publicInput/execution_data_collector/execution_data_collector_vectors.go
  prover/zkevm/prover/publicInput/public_input.go
Labels: Prover

#149 Prover/constraint for the update operation
  prover/zkevm/prover/statemanager/accumulator/define.go
Labels: Prover

#146 Adding more constraints for IsEmptyLeaf
  prover/zkevm/prover/statemanager/accumulator/define.go
Labels: Prover

#147 Prover/Constraint for IsInsertRow3
  prover/zkevm/prover/statemanager/accumulator/define.go
Labels: Prover

#114 fix revert in accordance with comments
  prover/lib/compressor/blob/v1/blob_maker.go
Labels: bug, Prover

#253 gradle update to 8.10.2
  .github/workflows/coordinator-build-and-publish.yml
  .github/workflows/coordinator-testing.yml
  .github/workflows/finalized-tag-updater-github-release.yml
  .github/workflows/load-test.yml
  .github/workflows/maven-release.yml
  .github/workflows/traces-api-facade-build-and-publish.yml
  .github/workflows/traces-api-facade-testing.yml
  .github/workflows/transaction-exclusion-api-build-and-publish.yml
  .github/workflows/transaction-exclusion-api-testing.yml
  coordinator/app/build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  jvm-libs/generic/json-rpc/src/test/kotlin/net/consensys/linea/jsonrpc/client/VertxHttpJsonRpcClientTest.kt
  jvm-libs/linea/linea-contracts/l1-rollup/build.gradle
  jvm-libs/linea/linea-contracts/l2-message-service/build.gradle
Labels: Coordinator

#250 small improvements: error found by Kotlin 2 compiler
  coordinator/app/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/SimpleCompositeSafeFutureHandler.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/common/SimpleCompositeSafeFutureHandlerTest.kt
  coordinator/ethereum/blob-submitter/src/main/kotlin/net/consensys/zkevm/ethereum/submission/L1ShnarfBasedAlreadySubmittedBlobsFilter.kt
  coordinator/persistence/blob/src/integrationTest/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressionProofCoordinatorIntTest.kt
  gradle/libs.versions.toml
  jvm-libs/generic/extensions/futures/src/main/kotlin/net/consensys/linea/async/AsyncFilter.kt
  jvm-libs/generic/extensions/futures/src/test/kotlin/net/consensys/linea/async/AsyncRetryerTest.kt
  testing-tools/app/src/main/kotlin/net/consensys/zkevm/load/model/EthConnectionImpl.kt
  transaction-exclusion-api/core/build.gradle
Labels: Coordinator

#262 Fix/prover/aggregation/tree padding
  prover/circuits/aggregation/circuit.go
  prover/circuits/internal/utils.go
  prover/circuits/pi-interconnection/assign.go
  prover/circuits/pi-interconnection/circuit.go
  prover/circuits/pi-interconnection/e2e_test.go
  prover/circuits/pi-interconnection/keccak/assign.go
  prover/circuits/pi-interconnection/keccak/assign_test.go
  prover/public-input/aggregation.go
  prover/utils/test_utils/test_utils.go
  prover/utils/utils.go
Labels: bug, Prover
