Repository Consensys/linea-monorepo, pull requests merged in 2024-11, with the labels that each got.

#274 Match PI assignment and circuit with aggregation backend
  prover/backend/aggregation/craft.go
  prover/backend/aggregation/prove.go
  prover/backend/execution/craft.go
  prover/circuits/blobdecompression/v1/circuit.go
  prover/circuits/execution/circuit.go
  prover/circuits/execution/pi.go
  prover/circuits/execution/pi_test.go
  prover/circuits/internal/test_utils/test_utils.go
  prover/circuits/pi-interconnection/assign.go
  prover/circuits/pi-interconnection/circuit.go
  prover/circuits/pi-interconnection/e2e_test.go
  prover/circuits/pi-interconnection/keccak/assign.go
  prover/circuits/pi-interconnection/keccak/assign_test.go
  prover/circuits/pi-interconnection/keccak/snark.go
  prover/circuits/pi-interconnection/test_utils/test_utils.go
  prover/config/config.go
  prover/crypto/mimc/mimc.go
  prover/public-input/aggregation.go
  prover/public-input/execution.go
  prover/utils/test_utils/test_utils.go
  prover/utils/utils.go
Labels: bug, Prover

#290 feat decompression dummy proof
  prover/backend/blobdecompression/prove.go
Labels: bug, Prover, TechDebt, Data compressor

#185 Prover: apply the AVX optimizations for math/vector
  prover/go.mod
  prover/go.sum
  prover/maths/common/vector/vector.go
Labels: Stale

#289 perf load setup in parallel to compilation and assignment
  prover/backend/aggregation/prove.go
Labels: Prover, performances

#297 test cache proofs for tests/debugging
  prover/backend/aggregation/prove.go
  prover/circuits/prove.go
Labels: Prover

#288 refactor prove/setup args
  prover/cmd/prover/cmd/prove.go
  prover/cmd/prover/cmd/root.go
  prover/cmd/prover/cmd/setup.go
  prover/cmd/prover/main.go
Labels: Prover

#314 Prover: adds field dict_path in config
  docker/config/prover/v3/prover-config.toml
  prover/backend/blobdecompression/prove.go
  prover/cmd/prover/cmd/setup.go
  prover/config/config.go
  prover/config/constants.go
Labels: Prover

#312 Fix PI prover nil reference bug
  prover/backend/aggregation/prove.go
  prover/circuits/aggregation/circuit.go
  prover/circuits/setup_manifest.go
Labels: bug, Prover

#313 Chore/prover/adjust compression max
  prover/circuits/blobdecompression/large-tests/maximize_blob_size/main.go
  prover/lib/compressor/blob/v1/blob_maker.go
Labels: Prover

#327 feat: improve tx-exclusion-api performance and increase size of reaso…
  build.gradle
  docker/compose-local-dev-traces-v2.overrides.yml
  docker/compose.yml
  jvm-libs/generic/persistence/db/src/testFixtures/kotlin/net/consensys/zkevm/persistence/db/test/CleanDbTestSuiteParallel.kt
  transaction-exclusion-api/app/src/integrationTest/kotlin/net/consensys/linea/transactionexclusion/TransactionExclusionAppTest.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/TransactionExclusionApp.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/ArgumentParser.kt
  transaction-exclusion-api/app/src/test/kotlin/net/consensys/linea/transactionexclusion/app/api/ArgumentParserTest.kt
  transaction-exclusion-api/persistence/rejectedtransaction/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsPostgresDaoTest.kt
  transaction-exclusion-api/persistence/rejectedtransaction/src/main/kotlin/net/consensys/zkevm/persistence/dao/rejectedtransaction/RejectedTransactionsPostgresDao.kt
  transaction-exclusion-api/persistence/rejectedtransaction/src/main/resources/db/V003__increase_reject_reason_size_and_add_index_on_tx_hash_schema.sql
Labels: Coordinator

#319 Prover: fix(keccak-pi): exposes the statement of the keccak in wizard.
  prover/circuits/pi-interconnection/keccak/customize_keccak.go
Labels: Prover

#340 feat: delete duplicated HttpJsonRpcServer and use the one from jvm-libs
  docker/compose.yml
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/httpserver/HttpJsonRpcServer.kt
  traces-api-facade/app/src/main/kotlin/net/consensys/linea/traces/app/api/Api.kt
  traces-api-facade/app/src/main/kotlin/net/consensys/linea/traces/app/api/HttpJsonRpcServer.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/Api.kt
  transaction-exclusion-api/app/src/main/kotlin/net/consensys/linea/transactionexclusion/app/api/HttpJsonRpcServer.kt
Labels: Coordinator, TechDebt

#356 Feature/optimization distributedlab rebased
  prover/crypto/ringsis/ringsis_32_8/transversal_hash.go
  prover/crypto/ringsis/ringsis_64_16/transversal_hash.go
  prover/crypto/ringsis/ringsis_64_8/transversal_hash.go
  prover/crypto/ringsis/templates/transversal_hash.go.tmpl
  prover/crypto/vortex/opening_prover.go
  prover/maths/common/smartvectors/arithmetic_op.go
  prover/maths/common/smartvectors/fft.go
  prover/maths/common/smartvectors/polynomial_test.go
  prover/maths/fft/bitreverse.go
  prover/maths/fft/bitreverse_test.go
  prover/maths/fft/fastpoly/interpolation_test.go
  prover/maths/fft/fastpoly/reeval_on_coset.go
  prover/maths/fft/fastpoly/reeval_on_coset_test.go
  prover/maths/fft/fft.go
  prover/maths/fft/fft_test.go
  prover/maths/fft/options.go
  prover/maths/field/bls12_377.go
  prover/protocol/compiler/globalcs/quotient.go
  prover/protocol/compiler/univariates/multi_to_single_point.go
  prover/symbolic/evaluation.go
  prover/utils/parallel/atomic_counter.go
  prover/utils/parallel/chunky.go
  prover/utils/parallel/job_stealing.go
  prover/utils/parallel/par_test.go
  prover/utils/parallel/parallel.go
  prover/utils/parallel/pool/pool.go
  prover/utils/parallel/thread_aware.go
Labels: Prover

#360 Fix PI Initial Rolling Hash Update
  prover/backend/aggregation/craft.go
  prover/backend/aggregation/prove.go
  prover/backend/execution/craft.go
  prover/backend/execution/prove.go
  prover/circuits/execution/circuit.go
  prover/circuits/execution/pi.go
  prover/circuits/execution/pi_test.go
  prover/circuits/execution/pi_wizard_extraction.go
  prover/circuits/internal/utils.go
  prover/circuits/pi-interconnection/assign.go
  prover/circuits/pi-interconnection/circuit.go
  prover/circuits/pi-interconnection/circuit_test.go
  prover/circuits/pi-interconnection/e2e_test.go
  prover/circuits/pi-interconnection/test_utils/test_utils.go
  prover/public-input/aggregation.go
  prover/public-input/execution.go
  prover/utils/test_utils/test_utils.go
Labels: Prover
