Repository Consensys/linea-monorepo, pull requests merged in 2024-12, with the labels that each got.

#325 Feat Setup checks equality between KZG Vk from circuit Vk and from SRS
  prover/circuits/blobdecompression/large-tests/maximize_blob_size/main.go
  prover/circuits/setup.go
  prover/circuits/setup_manifest.go
  prover/circuits/setup_test.go
  prover/utils/test_utils/test_utils.go
  prover/utils/utils.go
Labels: Prover

#377 Prover: couple of fixes betav1
  prover/Makefile
  prover/backend/aggregation/prove.go
  prover/backend/execution/craft.go
  prover/circuits/aggregation/circuit.go
  prover/circuits/blobdecompression/large-tests/maximize_blob_size/main.go
  prover/circuits/execution/pi.go
  prover/circuits/execution/pi_test.go
  prover/circuits/execution/pi_wizard_extraction.go
  prover/circuits/pi-interconnection/assign.go
  prover/circuits/pi-interconnection/circuit.go
  prover/circuits/pi-interconnection/e2e_test.go
  prover/circuits/pi-interconnection/test_utils/test_utils.go
  prover/config/config-sepolia-full.toml
  prover/config/config_test.go
  prover/lib/compressor/blob/blob.go
  prover/lib/compressor/blob/v1/blob_maker_test.go
  prover/lib/compressor/blob/v1/test_utils/blob_maker_testing.go
  prover/protocol/wizard/gnark_verifier.go
  prover/public-input/aggregation.go
  prover/public-input/execution.go
  prover/zkevm/prover/publicInput/input_extractor.go
  prover/zkevm/prover/publicInput/public_input.go
Labels: Prover

#423 docs: add reference to LA zkevm audit P2
  docs/audits.md
Labels: documentation

#442 fix(prod): removes check failing on prod.
  prover/backend/execution/prove.go
Labels: Prover

#441 feature:440 - update prover api specs
  docs/architecture-description.md
Labels: documentation

#403 Prover: fix empty to address decoding
  .github/workflows/prover-native-lib-blob-compressor-release.yml
  prover/backend/ethereum/tx_encoding.go
  prover/config/config-integration-development.toml
  prover/lib/compressor/blob/testdata/v1/prover-responses/1-1-8d0a74047e241998a03664b98064da391c492e8a4ad96160ae46eeaaabdc7b5a-getZkBlobCompressionProof.json
  prover/lib/compressor/blob/testdata/v1/prover-responses/10-10-5ed776b2026f56ad6ec859da2ad88f01df3e3a2ba30ac8a3467bae034aa376a3-getZkBlobCompressionProof.json
  prover/lib/compressor/blob/testdata/v1/prover-responses/11-11-75246041b470552370ca9b2ee367dc9181a27474dd9d0101ac779814795d97f3-getZkBlobCompressionProof.json
  prover/lib/compressor/blob/testdata/v1/prover-responses/12-12-b2b86e78eabab3df944b76fab00d0d047237f9474848a2f0571b9974fd8beeff-getZkBlobCompressionProof.json
  prover/lib/compressor/blob/testdata/v1/prover-responses/13-13-42617fca5817f7a8d66789ca089f42e81990c113403aa173f472181bb17c5ef7-getZkBlobCompressionProof.json
  prover/lib/compressor/blob/testdata/v1/prover-responses/14-14-a06cb9ddb4afaab1747b3d86d112ffe0a780061324e60e53895674044dd1ad97-getZkBlobCompressionProof.json
  prover/lib/compressor/blob/testdata/v1/prover-responses/15-15-cd7d77c59594b435ecaf3544efbcc75063f58933ce365256a38f9f5ef5157929-getZkBlobCompressionProof.json
  prover/lib/compressor/blob/testdata/v1/prover-responses/16-16-43f9c488508f60f75ac6e674cecd818675dc1b41b4647015dec7ddf90f5f3539-getZkBlobCompressionProof.json
  prover/lib/compressor/blob/testdata/v1/prover-responses/17-17-ba204e81ed478657371a75f770522a41da7c9b38547535cbeda6221a4f348a1f-getZkBlobCompressionProof.json
  prover/lib/compressor/blob/testdata/v1/prover-responses/18-18-e286d19da944f0b8ad66cfc95e091efe1c81d8df27815a1c7bc988ea597b35d9-getZkBlobCompressionProof.json
  prover/lib/compressor/blob/testdata/v1/prover-responses/19-19-7d602537f431f2b63deeb7578015a6c10161bbd03b4c8cecdcd29fd14d5595c7-getZkBlobCompressionProof.json
  prover/lib/compressor/blob/testdata/v1/prover-responses/2-2-dc5c2cb3a0165de31749add32ca110833681580424d6178aa5b7333aed9d1f44-getZkBlobCompressionProof.json
  prover/lib/compressor/blob/testdata/v1/prover-responses/20-20-0f216777b4ad3ac168dd042f21d5841e816c5837ed17eeb0cec81fa533ef46f3-getZkBlobCompressionProof.json
  prover/lib/compressor/blob/testdata/v1/prover-responses/21-21-43b0541dcf365ad0942743925efc065ef29d3740a3b3d148c3d19f10c4a28c05-getZkBlobCompressionProof.json
  prover/lib/compressor/blob/testdata/v1/prover-responses/22-22-6d86485bda96af0c65e3ee17dbda334dda74320132528c658a2cdfdb482fd561-getZkBlobCompressionProof.json
  prover/lib/compressor/blob/testdata/v1/prover-responses/23-23-d1878e22281ccacbb0aef775fa512694d55d8ba4e2184bc4a8bc5ab1895bf359-getZkBlobCompressionProof.json
  prover/lib/compressor/blob/testdata/v1/prover-responses/24-24-0167c8c8c55a5b655cedb5a9f13f26d8f9e5fe295f3cca70fa35673818907915-getZkBlobCompressionProof.json
  prover/lib/compressor/blob/testdata/v1/prover-responses/25-25-ce158ba4d051fd6be6f1e4eca25e8f6718c2e8bb280a83454acc60175e88eb34-getZkBlobCompressionProof.json
  prover/lib/compressor/blob/testdata/v1/prover-responses/26-26-7f3aedaf6ab34470ebc3317dd5de9fcc5ed70993c89842c9d34b41cf7734a094-getZkBlobCompressionProof.json
  prover/lib/compressor/blob/testdata/v1/prover-responses/27-27-207d4180889463e42ab64c8ed4712c197ef69db1f1fd7cf15f8b491412fc0aae-getZkBlobCompressionProof.json
  prover/lib/compressor/blob/testdata/v1/prover-responses/3-3-48452c8146bbb41adc9205da32d0d3da11e2720cb104040b9601f52319192d08-getZkBlobCompressionProof.json
  prover/lib/compressor/blob/testdata/v1/prover-responses/4-4-e0e056d8b51bd999c48c62b3b378858995d4ef27cd10753678a0e25f33b1939f-getZkBlobCompressionProof.json
  prover/lib/compressor/blob/testdata/v1/prover-responses/5-5-0490ef8316f0e4841381cff8ca51f8bb507b2ca503ae664ac93f532eb4e672a1-getZkBlobCompressionProof.json
  prover/lib/compressor/blob/testdata/v1/prover-responses/6-6-1f610832758a71e89b446bf1d5f7d127051be4542b46bcdf8a81f8ed3bacca95-getZkBlobCompressionProof.json
  prover/lib/compressor/blob/testdata/v1/prover-responses/7-7-3560f17f6f95502af5bad6a9cddf3cbaefba39c7453abb1f0fd198aaab8fa094-getZkBlobCompressionProof.json
  prover/lib/compressor/blob/testdata/v1/prover-responses/8-8-ca492699334d26df6bb2e4ed5af828c9e275c0e0f751ea0d2b47dc521b6d68ee-getZkBlobCompressionProof.json
  prover/lib/compressor/blob/testdata/v1/prover-responses/9-9-a987b20527cc59e07b6af59943fa0bb725d9b4278ebb5ec191f8a5559a801ac0-getZkBlobCompressionProof.json
  prover/lib/compressor/blob/v0/encode_test.go
  prover/lib/compressor/blob/v1/blob_maker.go
  prover/lib/compressor/blob/v1/blob_maker_test.go
  prover/lib/compressor/blob/v1/encode.go
  prover/lib/compressor/blob/v1/encode_test.go
Labels: Prover

#388 err(modexp): returns a 77 error when modexp overflows
  prover/zkevm/prover/modexp/module_assignement.go
Labels: Prover

#419 Prover: build docker wo rust corset
  prover/Dockerfile
Labels: Prover, Minor improvements

#470 #461 Prover: Add constraints version validation
  prover/Makefile
  prover/backend/execution/constraints-versions.txt
  prover/backend/execution/craft.go
  prover/cmd/prover/cmd/prove.go
Labels: Prover

#386 Prover/Adding Initial Compiler for Permutation Query
  prover/protocol/column/column.go
  prover/protocol/distributed/compiler/permutation/permutation.go
  prover/protocol/distributed/compiler/permutation/permutation_test.go
  prover/protocol/distributed/compiler/permutation/settings.go
  prover/protocol/distributed/distributed.go
  prover/protocol/distributed/module_discover.go
  prover/protocol/distributed/module_discoverer/period_separating_module_discoverer.go
  prover/protocol/query/grand_product.go
  prover/protocol/query/grand_product_test.go
  prover/protocol/wizard/compiled.go
  prover/protocol/wizard/prover.go
Labels: enhancement, Prover

#367 Compressor Optimizer
  prover/lib/compressor/blob/v1/blob_maker.go
  prover/lib/compressor/blob/v1/test_utils/blob_maker_testing.go
Labels: enhancement, performances, Data compressor
