Repository Consensys/linea-monorepo, pull requests merged in 2025-02, with the labels that each got.

#585 Prover/Convert projection protocol to a query
  prover/backend/execution/prove.go
  prover/go.mod
  prover/maths/common/poly/poly.go
  prover/protocol/column/column.go
  prover/protocol/compiler/arcane.go
  prover/protocol/compiler/mimc/manual.go
  prover/protocol/compiler/projection/compiler.go
  prover/protocol/compiler/projection/compiler_test.go
  prover/protocol/compiler/projection/prover.go
  prover/protocol/compiler/projection/verifier.go
  prover/protocol/dedicated/byte32cmp/byte32cmp.go
  prover/protocol/dedicated/byte32cmp/multi_limb_cmp.go
  prover/protocol/dedicated/merkle/merkle.go
  prover/protocol/dedicated/plonk/alignment.go
  prover/protocol/dedicated/projection/projection.go
  prover/protocol/distributed/lpp/lpp.go
  prover/protocol/query/projection.go
  prover/protocol/query/projection_test.go
  prover/protocol/wizard/compiled.go
  prover/protocol/wizardutils/utils.go
  prover/zkevm/prover/common/hashing.go
  prover/zkevm/prover/ecdsa/adress.go
  prover/zkevm/prover/ecdsa/ecdata.go
  prover/zkevm/prover/ecdsa/unaligned_gnark.go
  prover/zkevm/prover/ecpair/ecpair_constraints.go
  prover/zkevm/prover/hash/importpad/import_pad.go
  prover/zkevm/prover/hash/keccak/acc_module/data_acc.go
  prover/zkevm/prover/hash/keccak/acc_module/info_acc.go
  prover/zkevm/prover/hash/keccak/keccak_single_provider.go
  prover/zkevm/prover/hash/keccak/keccakf/io.go
  prover/zkevm/prover/hash/packing/lane.go
  prover/zkevm/prover/hash/sha2/sha2.go
  prover/zkevm/prover/hash/sha2/sha2_block.go
  prover/zkevm/prover/modexp/module.go
  prover/zkevm/prover/publicInput/execution_data_collector/execution_data_collector.go
  prover/zkevm/prover/publicInput/fetchers_arithmetization/block_txn_metadata_fetcher.go
  prover/zkevm/prover/publicInput/fetchers_arithmetization/rlp_txn_fetcher.go
  prover/zkevm/prover/publicInput/fetchers_arithmetization/timestamp_fetcher.go
  prover/zkevm/prover/publicInput/fetchers_arithmetization/txn_data_fetcher.go
  prover/zkevm/prover/publicInput/logs/extracted_data.go
  prover/zkevm/prover/statemanager/mimccodehash/input_consistency.go
Labels: Prover

#644 Prover/fix public input timestamps from new blockdata
  prover/zkevm/prover/publicInput/fetchers_arithmetization/timestamp_fetcher.go
  prover/zkevm/prover/publicInput/testdata/blockdata_mock.csv
Labels: Prover

#627 Prover/cross-checking among segments of limitless prover
  prover/protocol/accessors/from_grandprod.go
  prover/protocol/accessors/from_grandsum.go
  prover/protocol/accessors/from_logderivsum.go
  prover/protocol/column/store.go
  prover/protocol/distributed/compiler/inclusion/inclusion.go
  prover/protocol/distributed/compiler/inclusion/inclusion_test.go
  prover/protocol/distributed/xcomp/xcomp.go
  prover/protocol/query/gnark_params.go
  prover/protocol/query/grand_sum.go
  prover/protocol/wizard/verifier.go
Labels: Prover

#645 fix: temp fix for the corepack issue
  postman/Dockerfile
Labels: Postman

#564 prover(conglomeration): implements the proof aggregation mechanism
  prover/crypto/vortex/opening_prover.go
  prover/protocol/column/status.go
  prover/protocol/column/store.go
  prover/protocol/column/verifiercol/from_alleged_ys.go
  prover/protocol/compiler/dummy/dummy.go
  prover/protocol/compiler/fullrecursion/actions.go
  prover/protocol/compiler/fullrecursion/circuit.go
  prover/protocol/compiler/globalcs/evaluation.go
  prover/protocol/compiler/grandproduct/compiler.go
  prover/protocol/compiler/innerproduct/verifier.go
  prover/protocol/compiler/logderivativesum/compile.go
  prover/protocol/compiler/lookup/verifier.go
  prover/protocol/compiler/permutation/verifier.go
  prover/protocol/compiler/projection/verifier.go
  prover/protocol/compiler/selfrecursion/column_opening.go
  prover/protocol/compiler/selfrecursion/context.go
  prover/protocol/compiler/selfrecursion/lincomb_phase.go
  prover/protocol/compiler/selfrecursion/names.go
  prover/protocol/compiler/selfrecursion/precomputations.go
  prover/protocol/compiler/selfrecursion/selfrecursion.go
  prover/protocol/compiler/splitter/splitter.go
  prover/protocol/compiler/splitter/sticker/sticker.go
  prover/protocol/compiler/stitch_split/stitcher/constraints.go
  prover/protocol/compiler/univariates/local_opening_point.go
  prover/protocol/compiler/univariates/multi_to_single_point.go
  prover/protocol/compiler/univariates/naturalize.go
  prover/protocol/compiler/vortex/compiler.go
  prover/protocol/compiler/vortex/gnark_verifier.go
  prover/protocol/compiler/vortex/names.go
  prover/protocol/compiler/vortex/option.go
  prover/protocol/compiler/vortex/prover.go
  prover/protocol/compiler/vortex/verifier.go
  prover/protocol/dedicated/functionals/fold.go
  prover/protocol/dedicated/functionals/foldouter.go
  prover/protocol/dedicated/mimc/linear_hash.go
  prover/protocol/dedicated/mimc/linear_hash_test.go
  prover/protocol/dedicated/plonk/alignment.go
  prover/protocol/dedicated/plonk/compile.go
  prover/protocol/dedicated/reedsolomon/reedsolomon.go
  prover/protocol/dedicated/selector/subsample.go
  prover/protocol/distributed/compiler/inclusion/inclusion.go
  prover/protocol/distributed/compiler/inclusion/inclusion_test.go
  prover/protocol/distributed/conglomeration/conglomeration.go
  prover/protocol/distributed/conglomeration/conglomeration_test.go
  prover/protocol/distributed/conglomeration/cross_segment_consistency.go
  prover/protocol/distributed/conglomeration/prover.go
  prover/protocol/distributed/conglomeration/translator.go
  prover/protocol/distributed/conglomeration/verifier.go
  prover/protocol/distributed/constants/constant.go
  prover/protocol/distributed/xcomp/xcomp.go
  prover/protocol/wizard/actions.go
  prover/protocol/wizard/builder.go
  prover/protocol/wizard/compiled.go
  prover/protocol/wizard/fiatshamir.go
  prover/protocol/wizard/gnark_verifier.go
  prover/protocol/wizard/prover.go
  prover/protocol/wizard/verifier.go
Labels: Prover

#681 added more functionalities to the discoverer
  prover/protocol/distributed/compiler/permutation/permutation_test.go
  prover/protocol/distributed/compiler/permutation/settings.go
  prover/protocol/distributed/distributed.go
  prover/protocol/distributed/lpp/lpp.go
  prover/protocol/distributed/namebaseddiscoverer/period_separating_module_discoverer.go
  prover/protocol/distributed/namebaseddiscoverer/query_based_module_discoverer.go
  prover/utils/collection/mapping.go
Labels: Prover

#684 chores(verifier): add the sepolia beta-v1.3 contract (fmtted)
  contracts/src/verifiers/PlonkVerifierSepoliaFull.sol
  contracts/test/hardhat/_testData/betaV1/proof/7027059-7042723-d2221f5035e3dcbbc46e8a6130fef34fdec33c252b7d31fb8afa6848660260ba-getZkAggregatedProof.json
Labels: Contracts

#687 chores(verifier): adds the new verifier contract and update the tests
  contracts/src/verifiers/PlonkVerifierSepoliaFull.sol
  contracts/test/hardhat/_testData/betaV1/proof/7027059-7042723-d2221f5035e3dcbbc46e8a6130fef34fdec33c252b7d31fb8afa6848660260ba-getZkAggregatedProof.json
Labels: Contracts

#608 Prover/distribute projection query
  prover/maths/common/poly/poly.go
  prover/protocol/compiler/distributedprojection/compiler.go
  prover/protocol/compiler/distributedprojection/prover.go
  prover/protocol/compiler/distributedprojection/verifier.go
  prover/protocol/compiler/projection/prover.go
  prover/protocol/distributed/compiler/permutation/permutation.go
  prover/protocol/distributed/compiler/projection/projection.go
  prover/protocol/distributed/compiler/projection/projection_test.go
  prover/protocol/distributed/conglomeration/translator.go
  prover/protocol/distributed/lpp/lpp_test.go
  prover/protocol/query/distributed_projection.go
  prover/protocol/query/distributed_projection_test.go
  prover/protocol/query/gnark_params.go
  prover/protocol/query/projection.go
  prover/protocol/query/projection_test.go
  prover/protocol/wizard/compiled.go
  prover/protocol/wizard/gnark_verifier.go
  prover/protocol/wizard/prover.go
  prover/protocol/wizard/verifier.go
Labels: Prover

#693 Prover: beta-v1.2 adds missing commits
  prover/backend/execution/constraints-versions.txt
  prover/circuits/execution/circuit.go
  prover/circuits/prove.go
  prover/protocol/compiler/permutation/compiler.go
  prover/protocol/compiler/univariates/naturalize.go
  prover/zkevm/arithmetization/definition.go
Labels: Prover

#667 Prover/Complete Projection Query
  prover/protocol/accessors/from_distributedprojection.go
  prover/protocol/compiler/distributedprojection/compiler.go
  prover/protocol/compiler/distributedprojection/prover.go
  prover/protocol/compiler/distributedprojection/verifier.go
  prover/protocol/distributed/comp_splitting.go
  prover/protocol/distributed/compiler/inclusion/inclusion.go
  prover/protocol/distributed/compiler/inclusion/inclusion_test.go
  prover/protocol/distributed/compiler/projection/projection.go
  prover/protocol/distributed/compiler/projection/projection_test.go
  prover/protocol/distributed/conglomeration/translator.go
  prover/protocol/distributed/constants/constant.go
  prover/protocol/distributed/lpp/lpp.go
  prover/protocol/distributed/lpp/lpp_test.go
  prover/protocol/query/distributed_projection.go
  prover/protocol/query/distributed_projection_test.go
  prover/protocol/query/gnark_params.go
  prover/protocol/wizard/prover.go
  prover/protocol/wizard/verifier.go
Labels: enhancement, Prover

#688 Prover: turns the plonk-in-wizard into a query
  prover/circuits/blobdecompression/v1/snark.go
  prover/circuits/pi-interconnection/keccak/snark.go
  prover/maths/common/smartvectors/smartvectors.go
  prover/protocol/compiler/fullrecursion/actions.go
  prover/protocol/compiler/fullrecursion/circuit.go
  prover/protocol/compiler/fullrecursion/full_recursion.go
  prover/protocol/compiler/plonkinwizard/compile.go
  prover/protocol/compiler/plonkinwizard/plonk_in_wizard_test.go
  prover/protocol/compiler/plonkinwizard/prover.go
  prover/protocol/compiler/plonkinwizard/verifier.go
  prover/protocol/dedicated/plonk/alignment.go
  prover/protocol/dedicated/plonk/witness_assigner.go
  prover/protocol/distributed/compiler/plonkinwizard/distribute.go
  prover/protocol/internal/plonkinternal/commit_test.go
  prover/protocol/internal/plonkinternal/compile.go
  prover/protocol/internal/plonkinternal/context.go
  prover/protocol/internal/plonkinternal/doc.go
  prover/protocol/internal/plonkinternal/names.go
  prover/protocol/internal/plonkinternal/options.go
  prover/protocol/internal/plonkinternal/plonk_test.go
  prover/protocol/internal/plonkinternal/prover_commit.go
  prover/protocol/internal/plonkinternal/prover_nocommit.go
  prover/protocol/internal/plonkinternal/rangechecker.go
  prover/protocol/internal/plonkinternal/rangechecker_test.go
  prover/protocol/query/plonk_in_wizard.go
  prover/protocol/wizard/compiled.go
  prover/utils/gnarkutil/gnarkutil.go
  prover/utils/gnarkutil/var_counting.go
  prover/utils/gnarkutil/var_counting_test.go
  prover/zkevm/prover/ecarith/ecadd.go
  prover/zkevm/prover/ecarith/ecadd_test.go
  prover/zkevm/prover/ecarith/ecmul.go
  prover/zkevm/prover/ecarith/ecmul_test.go
  prover/zkevm/prover/ecdsa/antichamber.go
  prover/zkevm/prover/ecdsa/antichamber_test.go
  prover/zkevm/prover/ecdsa/ecdsa.go
  prover/zkevm/prover/ecpair/ecpair.go
  prover/zkevm/prover/ecpair/ecpair_test.go
  prover/zkevm/prover/hash/sha2/sha2_block.go
  prover/zkevm/prover/hash/sha2/sha2_block_test.go
  prover/zkevm/prover/modexp/module.go
  prover/zkevm/prover/modexp/module_with_circuit_test.go
Labels: Prover

#554 refactor, perf: `prover/crypto/sis` improvements
  prover/crypto/ringsis/.gitignore
  prover/crypto/ringsis/gen.go
  prover/crypto/ringsis/ringis.go
  prover/crypto/ringsis/ringsis_32_8/limb_decompose_test.go
  prover/crypto/ringsis/ringsis_32_8/partial_fft.go
  prover/crypto/ringsis/ringsis_32_8/partial_fft_test.go
  prover/crypto/ringsis/ringsis_32_8/transversal_hash.go
  prover/crypto/ringsis/ringsis_32_8/transversal_hash_test.go
  prover/crypto/ringsis/ringsis_32_8/twiddles.go
  prover/crypto/ringsis/ringsis_64_16/limb_decompose_test.go
  prover/crypto/ringsis/ringsis_64_16/partial_fft.go
  prover/crypto/ringsis/ringsis_64_16/partial_fft_test.go
  prover/crypto/ringsis/ringsis_64_16/transerval_hash_bench_test.go
  prover/crypto/ringsis/ringsis_64_16/transversal_hash.go
  prover/crypto/ringsis/ringsis_64_16/twiddles.go
  prover/crypto/ringsis/ringsis_64_8/limb_decompose_test.go
  prover/crypto/ringsis/ringsis_64_8/partial_fft.go
  prover/crypto/ringsis/ringsis_64_8/partial_fft_test.go
  prover/crypto/ringsis/ringsis_64_8/transversal_hash.go
  prover/crypto/ringsis/ringsis_64_8/transversal_hash_test.go
  prover/crypto/ringsis/ringsis_64_8/twiddles.go
  prover/crypto/ringsis/ringsis_test.go
  prover/crypto/ringsis/templates/generator.go
  prover/crypto/ringsis/templates/limb_decompose_test.go.tmpl
  prover/crypto/ringsis/templates/partial_fft.go
  prover/crypto/ringsis/templates/partial_fft.go.tmpl
  prover/crypto/ringsis/templates/partial_fft_test.go
  prover/crypto/ringsis/templates/partial_fft_test.go.tmpl
  prover/crypto/ringsis/templates/testcases/partial_fft_64_3_2.txt
  prover/crypto/ringsis/templates/transversal_hash.go.tmpl
  prover/crypto/ringsis/templates/transversal_hash_test.go.tmpl
  prover/crypto/ringsis/templates/twiddles.go.tmpl
  prover/crypto/ringsis/transversal_hash.go
  prover/crypto/ringsis/transversal_hash_test.go
  prover/go.mod
  prover/go.sum
  prover/maths/field/bls12_377.go
  prover/utils/utils.go
Labels: Stale, Prover

#700 Prover/support special columns
  prover/protocol/distributed/common.go
  prover/protocol/distributed/comp_splitting.go
  prover/protocol/distributed/compiler/global/global.go
  prover/protocol/distributed/compiler/global/global_test.go
  prover/protocol/distributed/compiler/global/prover.go
  prover/protocol/distributed/compiler/inclusion/inclusion.go
  prover/protocol/distributed/compiler/inclusion/inclusion_test.go
  prover/protocol/distributed/compiler/projection/projection_test.go
  prover/protocol/distributed/conglomeration/conglomeration.go
  prover/protocol/distributed/conglomeration/conglomeration_test.go
  prover/protocol/distributed/conglomeration/cross_segment_consistency.go
  prover/protocol/distributed/constants/constant.go
  prover/protocol/distributed/distributed.go
  prover/protocol/distributed/lpp/lpp.go
  prover/protocol/distributed/lpp/lpp_test.go
  prover/protocol/distributed/namebaseddiscoverer/period_separating_module_discoverer.go
  prover/protocol/distributed/namebaseddiscoverer/query_based_module_discoverer.go
  prover/protocol/distributed/segment_comp.go/segcomp.go
  prover/utils/collection/mapping.go
Labels: Prover

#713 feat: support go corset optimisation and metadata
  prover/cmd/dev-tools/corset-checker/main.go
  prover/cmd/dev-tools/corset-checker/params.go
  prover/cmd/dev-tools/corset-checker/zkevm.go
  prover/go.mod
  prover/go.sum
  prover/zkevm/arithmetization/arithmetization.go
  prover/zkevm/arithmetization/definition_test.go
  prover/zkevm/arithmetization/files.go
  prover/zkevm/checker.go
  prover/zkevm/full.go
  prover/zkevm/partial.go
Labels: Prover

#694 feat: add support of eth_estimateGas for L1 transactions
  config/coordinator/coordinator-docker.config.toml
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/BlockchainClientHelper.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/config/CoordinatorConfig.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/app/config/CoordinatorConfigTest.kt
  coordinator/app/src/test/resources/configs/coordinator.config.toml
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/Web3JContractAsyncHelper.kt
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/LineaRollupEnhancedWrapper.kt
  coordinator/clients/smart-contract-client/src/main/kotlin/net/consensys/linea/contract/l1/Web3JLineaRollupSmartContractClient.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/coordinator/clients/smartcontract/LineaRollupSmartContractClient.kt
  coordinator/ethereum/blob-submitter/src/main/kotlin/net/consensys/zkevm/ethereum/finalization/AggregationSubmitter.kt
  docker/config/linea-besu-sequencer/sequencer.config.toml
  jvm-libs/linea/testing/l1-blob-and-proof-submission/src/main/kotlin/net/consensys/linea/testing/submission/SubmissionTestHelper.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/net/consensys/linea/web3j/Eip4844EthCall.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/net/consensys/linea/web3j/EthCallWithInformativeReverts.kt
Labels: Coordinator
