Repository Consensys/linea-monorepo, pull requests merged in 2025-04, with the labels that each got.

#820 feat: delete all aggregation records from last aggregated block plus o…
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/app/L1DependentAppTest.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/persistence/AggregationsRepository.kt
  coordinator/persistence/aggregation/src/integrationTest/kotlin/net/consensys/zkevm/persistence/dao/aggregation/AggregationsPostgresDaoTest.kt
  coordinator/persistence/aggregation/src/main/kotlin/net/consensys/zkevm/persistence/dao/aggregation/AggregationsDao.kt
  coordinator/persistence/aggregation/src/main/kotlin/net/consensys/zkevm/persistence/dao/aggregation/AggregationsRepositoryImpl.kt
  coordinator/persistence/aggregation/src/main/kotlin/net/consensys/zkevm/persistence/dao/aggregation/PostgresAggregationsDao.kt
  coordinator/persistence/aggregation/src/main/kotlin/net/consensys/zkevm/persistence/dao/aggregation/RetryingPostgresAggregationsDao.kt
  coordinator/persistence/aggregation/src/test/kotlin/net/consensys/zkevm/persistence/dao/aggregation/RetryingPostgresAggregationsDaoTest.kt
  coordinator/persistence/batch/src/main/kotlin/net/consensys/zkevm/persistence/dao/batch/persistence/BatchesPostgresDao.kt
  coordinator/persistence/feehistory/src/main/kotlin/net/consensys/zkevm/persistence/dao/feehistory/FeeHistoriesPostgresDao.kt
Labels: Coordinator

#850 chores(conf): set the version to 5.0.2
  contracts/src/verifiers/PlonkVerifierSepoliaFull.sol
  contracts/test/hardhat/_testData/betaV1/proof/7027059-7042723-d2221f5035e3dcbbc46e8a6130fef34fdec33c252b7d31fb8afa6848660260ba-getZkAggregatedProof.json
  prover/config/config-sepolia-full.toml
Labels: Prover

#875 Prover/setup of beta v1.4 for mainnet
  contracts/deploy/01_deploy_PlonkVerifier.ts
  contracts/src/verifiers/PlonkVerifierMainnetFull.sol
  contracts/test/hardhat/_testData/betaV1_4/postRelease/17865638-17865639-bcv0.0-ccv0.0-9cabe9ab75043f19d070f29b438f07e5d58ee08aaa7e20e028d92dcba9f9f2cf-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/postRelease/17865640-17865642-bcv0.0-ccv0.0-e172e05c56e81a4ce03e93904cae0203a1f6fcfe57dad48825f8147dec5ed927-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/postRelease/17865643-17865645-bcv0.0-ccv0.0-a527c64285ec74dcde3ee1f77058b92851cd865680447f91a14618fc98ccb43c-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/postRelease/17865646-17865656-bcv0.0-ccv0.0-3a5bcce027eb9acb70a5a063d8ba97d146df24343a3333394223881f5568f46f-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/postRelease/17865657-17865663-bcv0.0-ccv0.0-d631056b6bba42e941d28290436f17f259f9c6e10a93e51838f6856eb8e9645e-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/postRelease/17865664-17865664-bcv0.0-ccv0.0-de46fb25022d9285178487dd1d32478972f703b31a88ac2818943d28930ffec5-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/postRelease/17865665-17865665-bcv0.0-ccv0.0-7ed8c022f7faf4b538c2cc8fd5ed4c2505be619150e658c0f73c75afb05d2c5e-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/postRelease/17865666-17865666-bcv0.0-ccv0.0-dad303fa6f8a0718206fee31f724d67a5ccc46ff3f3e95304513b04fa962cf41-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/postRelease/17865667-17865670-bcv0.0-ccv0.0-7382f04477cfe8d3ca4e2fa8f2399a97ea6dc1f5dfd82bd3af5ae89df9777628-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/postRelease/17865671-17865674-bcv0.0-ccv0.0-bededbd85974b746a15fd6167b01bb4885e833aaff6d33a5e717bfcb21f7defc-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/postRelease/17865675-17865680-bcv0.0-ccv0.0-0c39f7ce6203c64083360f72b6ab3ac8c02f5b12df70db02fbc5c5e51a9da08d-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/postRelease/17865681-17865685-bcv0.0-ccv0.0-9f6148541b94c74653815f2223a41b9e60a09dbf03954a33b06735ff4b95bd22-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/postRelease/17865686-17865694-bcv0.0-ccv0.0-70eff69e129f9916175f8b75fd4c9f6108e2c78a89b6ffdd6b5dbfa1df3cf04e-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/postRelease/17865695-17865712-bcv0.0-ccv0.0-3dd9ca32ee437d519bbc891689c627ef09dd65694f88c9b8ea3476a207baf57d-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/postRelease/17865713-17865716-bcv0.0-ccv0.0-c289601664963ebac403836580ed1b5c229660a0d48fb9b7dabfbfb6cd4c1dfa-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/postRelease/17865717-17865720-bcv0.0-ccv0.0-0231f5d5ccbb17b159947e1df939d4353e8196a94625835bc29b4b68bbe11e76-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/postRelease/17865721-17865723-bcv0.0-ccv0.0-9a7679b0a61ad50197c8fe5f447195f1241145e50b38ab4a6f4b77f4839a41fa-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/postRelease/17865724-17865726-bcv0.0-ccv0.0-d7ffda5523eacb9dbc30e16b3631c45490a1f93107429b16d6d71f13d37a5e6d-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/postRelease/17865727-17865732-bcv0.0-ccv0.0-010612bac12f3aa882874689ada52efc7e07bd42b5b0b6277dea3c63f25e2f3e-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/postRelease/17865733-17865740-bcv0.0-ccv0.0-41b4359598707cc964f93a547a948cc541e6ca592a6600d6305b530f83cf1456-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/postRelease/17865741-17865747-bcv0.0-ccv0.0-9afdeb780c46cc1d9aa749e47d11ee9212005208c01a0b6dec6d99dd3800c50e-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/postRelease/proof/17865638-17865747-getZkAggregatedProof.json
  contracts/test/hardhat/_testData/betaV1_4/preRelease/17865582-17865586-bcv0.0-ccv0.0-a11a06a26e45a6de7bef17b5295b97fef7de1fd06bc8284f3328bda1f3ce5b8a-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/preRelease/17865587-17865588-bcv0.0-ccv0.0-2c9ce8c1fbf99a4721fe8e540924043f778e1e6ba576251142de89a89b25d06c-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/preRelease/17865589-17865591-bcv0.0-ccv0.0-891e0eeb5afdd4e91254e4f824b978cfca9bd8a9d7056274713897794df9acd1-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/preRelease/17865592-17865595-bcv0.0-ccv0.0-4c7cae1a6786b4bcd776b40f58a80e9070e7af9255bce0a3c97920b04c614f42-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/preRelease/17865596-17865599-bcv0.0-ccv0.0-defef9537a0107610b37a548ce6fbfc9ba279eb33f7484d72fda8e07902f8532-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/preRelease/17865600-17865607-bcv0.0-ccv0.0-4cb995e8e953b1941409c0c80363bee7b2dd64324a4ee864efd71ec97718c50c-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/preRelease/17865608-17865613-bcv0.0-ccv0.0-cb159963f61fae8a5026880e1ca9456da9e457837f7aa0861f768d4a7320f949-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/preRelease/17865614-17865617-bcv0.0-ccv0.0-5d4fc7bd5721bb60f77477442c17ef4ad508bd97577c83d81f7f19dd6684dff4-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/preRelease/17865618-17865622-bcv0.0-ccv0.0-2c0134869f79041a7ebb87a2b970d30e7931216a2880ca7ccb84fccb8339a8ab-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/preRelease/17865623-17865632-bcv0.0-ccv0.0-4ed1ce040e80744635a91c26a866c0eaa8434844bd2f6d876917ea982fd6d891-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/preRelease/17865633-17865636-bcv0.0-ccv0.0-72c2053f6ecc0012828d3ef04a95dd253d70e9c299e9c2f5befc2cd21998f26f-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/preRelease/17865637-17865637-bcv0.0-ccv0.0-93320c354d7181e3103d4fb51f61b42943767bec958ecdf710510f0d704b1239-getZkBlobCompressionProof.json
  contracts/test/hardhat/_testData/betaV1_4/preRelease/proof/17865582-12865637-getZkAggregatedProof.json
  contracts/test/hardhat/common/constants/time.ts
  contracts/test/hardhat/rollup/LineaRollup/BlobSubmission.ts
  contracts/test/hardhat/rollup/LineaRollup/Finalization.ts
  contracts/test/hardhat/rollup/helpers/blob.ts
  contracts/test/hardhat/rollup/helpers/deploy.ts
  prover/Makefile
  prover/config/config-mainnet-full.toml
Labels: Prover, Contracts, C: Contracts
