Repository Consensys/linea-monorepo, pull requests merged in 2025-01, with the labels that each got.

#335 Prover/Global Constraint Boundary Cancellation Explainer
  prover/protocol/query/global.go
  prover/protocol/query/global_test.go
Labels: Prover

#350 Prover/full recursion
  prover/circuits/blobdecompression/large-tests/compile-batch-hasher/main.go
  prover/circuits/blobdecompression/v1/circuit.go
  prover/circuits/execution/circuit.go
  prover/circuits/execution/pi_wizard_extraction.go
  prover/circuits/pi-interconnection/circuit.go
  prover/circuits/pi-interconnection/e2e_test.go
  prover/circuits/pi-interconnection/test_utils/test_utils.go
  prover/crypto/fiatshamir/fiatshamir.go
  prover/crypto/fiatshamir/snark.go
  prover/crypto/mimc/gkrmimc/helper.go
  prover/go.mod
  prover/go.sum
  prover/protocol/column/store.go
  prover/protocol/compiler/dummy/dummy_prover_level.go
  prover/protocol/compiler/fullrecursion/actions.go
  prover/protocol/compiler/fullrecursion/circuit.go
  prover/protocol/compiler/fullrecursion/full_recursion.go
  prover/protocol/compiler/fullrecursion/full_recursion_test.go
  prover/protocol/compiler/globalcs/compile.go
  prover/protocol/compiler/globalcs/evaluation.go
  prover/protocol/compiler/innerproduct/verifier.go
  prover/protocol/compiler/lookup/compiler.go
  prover/protocol/compiler/lookup/verifier.go
  prover/protocol/compiler/permutation/compiler.go
  prover/protocol/compiler/permutation/verifier.go
  prover/protocol/compiler/selfrecursion/context.go
  prover/protocol/compiler/splitter/sticker/sticker.go
  prover/protocol/compiler/vortex/compiler.go
  prover/protocol/compiler/vortex/gnark_verifier.go
  prover/protocol/compiler/vortex/verifier.go
  prover/protocol/dedicated/plonk/alignment.go
  prover/protocol/dedicated/plonk/compile.go
  prover/protocol/dedicated/projection/projection.go
  prover/protocol/query/local_opening.go
  prover/protocol/wizard/actions.go
  prover/protocol/wizard/builder.go
  prover/protocol/wizard/compiled.go
  prover/protocol/wizard/gnark_verifier.go
  prover/protocol/wizard/prover.go
  prover/protocol/wizard/public_input.go
  prover/protocol/wizard/register.go
  prover/protocol/wizard/verifier.go
  prover/zkevm/prover/ecpair/circuits.go
  prover/zkevm/prover/publicInput/public_input.go
Labels: Prover

#503 Prover: prerelease fixes
  prover/cmd/prover/cmd/setup.go
  prover/cmd/prover/main.go
  prover/go.mod
  prover/go.sum
  prover/protocol/compiler/dummy/dummy_prover_level.go
  prover/zkevm/prover/publicInput/public_input.go
  prover/zkevm/zkevm.go
Labels: Prover

#504 Prover: new beta-v1 contract
  contracts/contracts/verifiers/PlonkVerifierSepoliaFull.sol
  prover/zkevm/zkevm.go
Labels: Prover

#511 bench(sis): adds a benchmark for the ringsis hash
  prover/crypto/ringsis/ringsis_64_16/transerval_hash_bench_test.go
Labels: Prover, performances

#534 feat(prover): polish the limitless framework
  prover/protocol/distributed/common.go
  prover/protocol/distributed/compiler/inclusion/inclusion_test.go
  prover/protocol/distributed/compiler/permutation/permutation.go
  prover/protocol/distributed/compiler/permutation/permutation_test.go
  prover/protocol/distributed/compiler/permutation/settings.go
  prover/protocol/distributed/distributed.go
  prover/protocol/distributed/namebaseddiscoverer/period_separating_module_discoverer.go
  prover/protocol/wizard/prover.go
  prover/protocol/wizard/verifier.go
Labels: Prover

#546 chores(ci): deactivate the slack notification for prover-ci
  .github/workflows/prover-testing.yml
Labels: Prover

#425 feat: added async retryer for currentL2BlockNumber in case the contra…
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/LastFinalizedBlockProvider.kt
  coordinator/app/src/test/kotlin/net/consensys/zkevm/coordinator/app/L1BasedLastFinalizedBlockProviderTest.kt
  coordinator/ethereum/gas-pricing/static-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/FeeHistoryFetcherImpl.kt
  finalized-tag-updater/build.gradle
  finalized-tag-updater/src/main/kotlin/net/consensys/linea/FinalizationUpdatePoller.kt
  finalized-tag-updater/src/main/kotlin/net/consensys/linea/LineaL1FinalizationUpdaterService.kt
  jvm-libs/linea/clients/linea-l1-contract-client/src/main/kotlin/build/linea/contract/l1/Web3JLineaRollupSmartContractClientReadOnly.kt
Labels: Coordinator

#547 Prover/vertical splitting for limitless prover
  prover/protocol/compiler/grandproduct/compiler.go
  prover/protocol/compiler/logderivativesum/compile.go
  prover/protocol/distributed/common.go
  prover/protocol/distributed/comp_splitting.go
  prover/protocol/distributed/compiler/inclusion/inclusion.go
  prover/protocol/distributed/compiler/inclusion/inclusion_test.go
  prover/protocol/distributed/namebaseddiscoverer/period_separating_module_discoverer.go
  prover/protocol/wizard/builder.go
  prover/protocol/wizard/prover.go
Labels: Prover

#524 fix(ecpair): ensure last non-trivial input pair goes to ML+finalexp circuit
  prover/utils/csvtraces/csvtraces.go
  prover/zkevm/prover/ecpair/ecpair.go
  prover/zkevm/prover/ecpair/ecpair_assignment.go
  prover/zkevm/prover/ecpair/ecpair_constraints.go
  prover/zkevm/prover/ecpair/ecpair_test.go
  prover/zkevm/prover/ecpair/ecpair_with_circuit_test.go
  prover/zkevm/prover/ecpair/testdata/ecpair_double_pair_module.csv
  prover/zkevm/prover/ecpair/testdata/ecpair_empty_module.csv
  prover/zkevm/prover/ecpair/testdata/ecpair_failing_double_pair_module.csv
  prover/zkevm/prover/ecpair/testdata/ecpair_regression_1_input.csv
  prover/zkevm/prover/ecpair/testdata/ecpair_regression_1_module.csv
  prover/zkevm/prover/ecpair/testdata/ecpair_trace_module.csv
  prover/zkevm/prover/ecpair/testdata/ecpair_triple_pair_module.csv
  prover/zkevm/prover/ecpair/testdata/ecpair_two_pairings_module.csv
  prover/zkevm/prover/ecpair/testdata/testdata_generator_manual_test.go
  prover/zkevm/prover/ecpair/testdata/testdata_generator_test.go
  prover/zkevm/zkevm.go
Labels: bug, Prover, P1: High

#529 feat: excluded besu-available module groups from fat jar of finalized…
  finalized-tag-updater/build.gradle
Labels: Coordinator

#553 Feat/multi dict prover
  docker/config/prover/v3/prover-config.toml
  prover/backend/aggregation/prove.go
  prover/backend/blobdecompression/prove.go
  prover/circuits/blobdecompression/circuit.go
  prover/circuits/blobdecompression/v0/assign_test.go
  prover/circuits/blobdecompression/v0/prelude.go
  prover/circuits/blobdecompression/v1/assign_test.go
  prover/circuits/blobdecompression/v1/circuit.go
  prover/circuits/blobdecompression/v1/snark_test.go
  prover/circuits/pi-interconnection/assign.go
  prover/circuits/pi-interconnection/bench/main.go
  prover/circuits/pi-interconnection/e2e_test.go
  prover/circuits/pi-interconnection/test_utils/test_utils.go
  prover/cmd/prover/cmd/setup.go
  prover/cmd/prover/main.go
  prover/config/config-sepolia-full.toml
  prover/config/config.go
  prover/lib/compressor/blob/blob.go
  prover/lib/compressor/blob/v1/blob_maker.go
  prover/lib/compressor/blob/v1/blob_maker_test.go
  prover/lib/compressor/blob/v1/encode_test.go
  prover/lib/compressor/blob/v1/test_utils/blob_maker_testing.go
  prover/lib/compressor/dict/25-01-15-INCOMPLETE.bin
  prover/utils/test_utils/test_utils.go
Labels: Prover, Data compressor, go

#571 3128 export metrics for conflation blob and aggregation size
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/GlobalAggregationCalculator.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorService.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressionProofCoordinator.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/conflation/ConflationServiceImpl.kt
  coordinator/core/src/test/kotlin/net/consensys/zkevm/ethereum/coordination/aggregation/ProofAggregationCoordinatorServiceTest.kt
Labels: Coordinator
