Repository Consensys/linea-monorepo, pull requests merged in 2025-05, with the labels that each got.

#885 Prover/Adding the Optional SIS Hashing Feature in the Vortex Protocol
  prover/circuits/pi-interconnection/circuit.go
  prover/cmd/dev-tools/corset-checker/main.go
  prover/crypto/vortex/commitment.go
  prover/crypto/vortex/commitment_test.go
  prover/crypto/vortex/gnark_test.go
  prover/crypto/vortex/gnark_utils.go
  prover/crypto/vortex/opening_prover.go
  prover/crypto/vortex/opening_verifier.go
  prover/crypto/vortex/params.go
  prover/crypto/vortex/reedsolomon_test.go
  prover/example/test_cases/framework_test.go
  prover/protocol/compiler/recursion/actions.go
  prover/protocol/compiler/recursion/recursion.go
  prover/protocol/compiler/selfrecursion/column_opening.go
  prover/protocol/compiler/selfrecursion/context.go
  prover/protocol/compiler/selfrecursion/lincomb_phase.go
  prover/protocol/compiler/selfrecursion/precomputations.go
  prover/protocol/compiler/selfrecursion/roothashandq.go
  prover/protocol/compiler/vortex/compiler.go
  prover/protocol/compiler/vortex/gnark_verifier.go
  prover/protocol/compiler/vortex/gnark_verifier_test.go
  prover/protocol/compiler/vortex/option.go
  prover/protocol/compiler/vortex/prover.go
  prover/protocol/compiler/vortex/verifier.go
  prover/protocol/compiler/vortex/vortex_test.go
  prover/zkevm/full.go
  prover/zkevm/partial.go
Labels: enhancement, Prover

#939 Fixed race condition in the prepareWitnesses function
  prover/protocol/dedicated/plonk/alignment.go
Labels: Prover

#958 Workaround/statesummary failed constraint
  prover/zkevm/prover/statemanager/statesummary/arithmetization_connector.go
Labels: Prover

#960 config: support new dictionary
  prover/Dockerfile
  prover/config/config-mainnet-full.toml
  prover/config/config-sepolia-full.toml
Labels: Prover

#969 Limitless Prover: Fix the remaining bugs in the conglomeration
  prover/config/traces_limit.go
  prover/protocol/column/natural.go
  prover/protocol/column/store.go
  prover/protocol/compiler/logdata/csv.go
  prover/protocol/compiler/logderivativesum/lookup2logderivsum.go
  prover/protocol/compiler/logderivativesum/prover_tasks.go
  prover/protocol/compiler/mpts/multipoint_to_singlepoint.go
  prover/protocol/compiler/vortex/compiler.go
  prover/protocol/distributed/conglomeration.go
  prover/protocol/distributed/conglomeration_test.go
  prover/protocol/distributed/distribute.go
  prover/protocol/distributed/distribute_test.go
  prover/protocol/distributed/module_default.go
  prover/protocol/distributed/module_discovery_standard.go
  prover/protocol/distributed/module_lpp.go
  prover/protocol/distributed/module_witness.go
  prover/protocol/distributed/pragmas/pragmas.go
  prover/protocol/distributed/segment_compilation.go
  prover/protocol/wizard/prover.go
  prover/protocol/wizard/verifier.go
  prover/zkevm/full.go
  prover/zkevm/prover/common/round_zero.go
  prover/zkevm/prover/ecdsa/txn_signature_test.go
  prover/zkevm/prover/hash/generic/testdata/gen.go
  prover/zkevm/prover/hash/keccak/acc_module/data_acc.go
  prover/zkevm/prover/hash/keccak/acc_module/info_acc.go
  prover/zkevm/prover/hash/keccak/acc_module/info_acc_test.go
  prover/zkevm/prover/hash/keccak/base_conversion/bc_input.go
  prover/zkevm/prover/hash/keccak/base_conversion/bc_input_test.go
  prover/zkevm/prover/hash/keccak/base_conversion/bc_output.go
  prover/zkevm/prover/hash/keccak/base_conversion/bc_output_test.go
  prover/zkevm/prover/hash/keccak/keccak_over_blocks_test.go
  prover/zkevm/prover/hash/keccak/keccakf/io.go
  prover/zkevm/prover/hash/packing/block.go
  prover/zkevm/prover/hash/packing/cld.go
  prover/zkevm/prover/hash/packing/cld_test.go
  prover/zkevm/prover/hash/packing/cleaning.go
  prover/zkevm/prover/hash/packing/dedicated/accumulate_upto.go
  prover/zkevm/prover/hash/packing/dedicated/len_consistency.go
  prover/zkevm/prover/hash/packing/lane.go
  prover/zkevm/prover/hash/packing/lane_test.go
  prover/zkevm/prover/hash/packing/utils_for_test.go
  prover/zkevm/prover/modexp/module_with_circuit_test.go
  prover/zkevm/prover/publicInput/logs/hasher.go
Labels: Prover

#986 Prover/conglomeration circuit
  prover/protocol/compiler/recursion/recursion.go
  prover/protocol/distributed/conglomeration.go
Labels: Prover

#978 Prover: richer exit code to better detect completeness issues
  prover/backend/execution/prove.go
  prover/protocol/compiler/lookup/prover.go
  prover/protocol/compiler/univariates/local_opening_point.go
  prover/protocol/compiler/univariates/multi_to_single_point.go
  prover/protocol/dedicated/plonk/alignment.go
  prover/utils/exit/exit.go
  prover/zkevm/arithmetization/arithmetization.go
  prover/zkevm/arithmetization/assignment.go
  prover/zkevm/arithmetization/files.go
  prover/zkevm/prover/common/vector_builder.go
  prover/zkevm/prover/hash/keccak/keccakf/keccakf.go
  prover/zkevm/prover/modexp/module_assignement.go
  prover/zkevm/prover/statemanager/accumulator/assign.go
Labels: Prover

#1015 fix: use backported gnark-crypto neg-scalar glv fix
  prover/go.mod
  prover/go.sum
Labels: bug, P1: High

#1031 feat(spot): adds spot-instance mode
  prover/cmd/controller/controller/controller.go
  prover/cmd/controller/controller/controller_test.go
  prover/cmd/controller/controller/executor.go
  prover/cmd/controller/controller/executor_test.go
  prover/cmd/controller/controller/job_definition_test.go
  prover/cmd/controller/controller/jobs.go
  prover/cmd/controller/controller/testdata/requests/sleep-4.sh
  prover/config/config.go
Labels: Prover

#936 Prover limit update proposal for beta-2.0
  prover/config/config-mainnet-full.toml
  prover/config/config-sepolia-full.toml
  prover/config/config.go
Labels: Prover
