Repository Consensys/linea-monorepo, pull requests merged in 2025-06, with the labels that each got.

#1070 Prover: Prepare the setup for 5.1.2
  contracts/src/verifiers/PlonkVerifierMainnetFull.sol
  contracts/src/verifiers/PlonkVerifierSepoliaFull.sol
  contracts/test/hardhat/_testData/betaV1_4/postRelease/proof/17865638-17865747-getZkAggregatedProof.json
  prover/config/config-mainnet-full.toml
  prover/config/config-sepolia-full.toml
Labels: Prover, Contracts

#1064 refactor: Use new GKR API
  prover/Dockerfile
  prover/circuits/aggregation/circuit.go
  prover/circuits/blobdecompression/v0/compress/internal/io.go
  prover/circuits/blobdecompression/v0/compress/lzss/snark.go
  prover/circuits/blobdecompression/v1/snark.go
  prover/circuits/internal/utils.go
  prover/circuits/prove.go
  prover/crypto/mimc/gkrmimc/finalgates.go
  prover/crypto/mimc/gkrmimc/gkrcircuit.go
  prover/crypto/mimc/gkrmimc/normalgates.go
  prover/crypto/ringsis/.gitignore
  prover/crypto/ringsis/gen.go
  prover/crypto/ringsis/ringis.go
  prover/crypto/ringsis/ringsis_32_8/limb_decompose_test.go
  prover/crypto/ringsis/ringsis_32_8/partial_fft.go
  prover/crypto/ringsis/ringsis_32_8/partial_fft_test.go
  prover/crypto/ringsis/ringsis_32_8/transversal_hash.go
  prover/crypto/ringsis/ringsis_32_8/transversal_hash_test.go
  prover/crypto/ringsis/ringsis_32_8/twiddles.go
  prover/crypto/ringsis/ringsis_64_16/limb_decompose_test.go
  prover/crypto/ringsis/ringsis_64_16/partial_fft.go
  prover/crypto/ringsis/ringsis_64_16/partial_fft_test.go
  prover/crypto/ringsis/ringsis_64_16/transerval_hash_bench_test.go
  prover/crypto/ringsis/ringsis_64_16/transversal_hash.go
  prover/crypto/ringsis/ringsis_64_16/twiddles.go
  prover/crypto/ringsis/ringsis_64_8/limb_decompose_test.go
  prover/crypto/ringsis/ringsis_64_8/partial_fft.go
  prover/crypto/ringsis/ringsis_64_8/partial_fft_test.go
  prover/crypto/ringsis/ringsis_64_8/transversal_hash.go
  prover/crypto/ringsis/ringsis_64_8/transversal_hash_test.go
  prover/crypto/ringsis/ringsis_64_8/twiddles.go
  prover/crypto/ringsis/ringsis_test.go
  prover/crypto/ringsis/templates/generator.go
  prover/crypto/ringsis/templates/limb_decompose_test.go.tmpl
  prover/crypto/ringsis/templates/partial_fft.go
  prover/crypto/ringsis/templates/partial_fft.go.tmpl
  prover/crypto/ringsis/templates/partial_fft_test.go
  prover/crypto/ringsis/templates/partial_fft_test.go.tmpl
  prover/crypto/ringsis/templates/testcases/partial_fft_64_3_2.txt
  prover/crypto/ringsis/templates/transversal_hash.go.tmpl
  prover/crypto/ringsis/templates/transversal_hash_test.go.tmpl
  prover/crypto/ringsis/templates/twiddles.go.tmpl
  prover/crypto/ringsis/transversal_hash.go
  prover/crypto/ringsis/transversal_hash_test.go
  prover/go.mod
  prover/go.sum
  prover/maths/field/bls12_377.go
  prover/protocol/dedicated/plonk/rangechecker.go
  prover/utils/utils.go
Labels: Prover

#1123 feat: fix batch-limits, coordinator update for local run, and L1 d…
  config/coordinator/coordinator-config-v2.toml
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  docs/l1-dynamic-gas-pricing.md
Labels: Coordinator

#1097 Add new timer and counter methods to metrics facade
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobCompressor.kt
  coordinator/core/src/main/kotlin/net/consensys/zkevm/ethereum/coordination/blob/BlobShnarfCalulator.kt
  gradle/libs.versions.toml
  jvm-libs/generic/extensions/futures/src/main/kotlin/net/consensys/linea/async/VertxFutureExtensions.kt
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/JsonRpcMessageProcessor.kt
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/VertxHttpJsonRpcClient.kt
  jvm-libs/linea/core/metrics/src/main/kotlin/net/consensys/linea/metrics/MetricsFacade.kt
  jvm-libs/linea/metrics/micrometer/build.gradle
  jvm-libs/linea/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/AbstractTimerCapture.kt
  jvm-libs/linea/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/DynamicTagTimerCapture.kt
  jvm-libs/linea/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/DynamicTagTimerImpl.kt
  jvm-libs/linea/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/Extensions.kt
  jvm-libs/linea/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/MicrometerCounterAdapter.kt
  jvm-libs/linea/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/MicrometerMetricsFacade.kt
  jvm-libs/linea/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/MicrometerTimerAdapter.kt
  jvm-libs/linea/metrics/micrometer/src/main/kotlin/net/consensys/linea/metrics/micrometer/SimpleTimerCapture.kt
  jvm-libs/linea/metrics/micrometer/src/test/kotlin/net/consensys/linea/metrics/micrometer/DynamicTagTimerCaptureTest.kt
  jvm-libs/linea/metrics/micrometer/src/test/kotlin/net/consensys/linea/metrics/micrometer/DynamicTagTimerTest.kt
  jvm-libs/linea/metrics/micrometer/src/test/kotlin/net/consensys/linea/metrics/micrometer/MicrometerCounterAdapterTest.kt
  jvm-libs/linea/metrics/micrometer/src/test/kotlin/net/consensys/linea/metrics/micrometer/MicrometerMetricsFacadeTest.kt
  jvm-libs/linea/metrics/micrometer/src/test/kotlin/net/consensys/linea/metrics/micrometer/MicrometerTimerAdapterTest.kt
  jvm-libs/linea/metrics/micrometer/src/test/kotlin/net/consensys/linea/metrics/micrometer/SimpleTimerCaptureTest.kt
Labels: Coordinator

#1162 Prover: adds more tests to debug the vortex compiler
  prover/protocol/column/verifiercol/concat_tiny_cols_test.go
  prover/protocol/compiler/selfrecursion/selfrecursion_test.go
  prover/protocol/compiler/vortex/prover.go
  prover/protocol/compiler/vortex/verifier.go
  prover/protocol/compiler/vortex/vortex_test.go
  prover/protocol/dedicated/functionals/eval_coeff_test.go
Labels: bug, Prover

#1125 feat: add request timeout for conflated trace, trace counter, and sta…
  config/coordinator/coordinator-config-v2.toml
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/StateManagerConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/TracesConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/StateManagerToml.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/TracesToml.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/conflation/ConflationApp.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/StateManagerParsingTest.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/TracesParsingTest.kt
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/VertxHttpJsonRpcClient.kt
  jvm-libs/generic/json-rpc/src/main/kotlin/net/consensys/linea/jsonrpc/client/VertxHttpJsonRpcClientFactory.kt
  jvm-libs/linea/clients/linea-state-manager/src/main/kotlin/build/linea/clients/StateManagerV1JsonRpcClient.kt
Labels: Coordinator

#1189 feat: add calldata based pricing for variable cost
  config/coordinator/coordinator-config-v2.toml
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/L2NetworkGasPricingConfig.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/CoordinatorConfigFilesToml.kt
  coordinator/app/src/main/kotlin/linea/coordinator/config/v2/toml/L2NetworkGasPricingConfigToml.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L1DependentApp.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/app/L2NetworkGasPricingService.kt
  coordinator/app/src/main/kotlin/net/consensys/zkevm/coordinator/blockcreation/BlockCreationMonitor.kt
  coordinator/app/src/test/kotlin/linea/coordinator/config/v2/L2NetWorkingGasPricingConfigParsingTest.kt
  coordinator/ethereum/gas-pricing/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/DynamicGasPrice.kt
  coordinator/ethereum/gas-pricing/static-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/ExtraDataV1PricerService.kt
  coordinator/ethereum/gas-pricing/static-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/L2CalldataBasedVariableFeesCalculator.kt
  coordinator/ethereum/gas-pricing/static-cap/src/main/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/L2CalldataSizeAccumulatorImpl.kt
  coordinator/ethereum/gas-pricing/static-cap/src/test/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/ExtraDataV1PricerServiceTest.kt
  coordinator/ethereum/gas-pricing/static-cap/src/test/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/L2CalldataBasedVariableFeesCalculatorTest.kt
  coordinator/ethereum/gas-pricing/static-cap/src/test/kotlin/net/consensys/linea/ethereum/gaspricing/staticcap/L2CalldataSizeAccumulatorImplTest.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/ExtendedWeb3J.kt
Labels: Coordinator

#946 Prover/Vortex Optional SIS Hashing in Self Recursion (Step 1/2)
  prover/crypto/vortex/commitment.go
  prover/protocol/compiler/selfrecursion/column_opening.go
  prover/protocol/compiler/selfrecursion/context.go
  prover/protocol/compiler/selfrecursion/lincomb_phase.go
  prover/protocol/compiler/selfrecursion/linearhashandmerkle.go
  prover/protocol/compiler/selfrecursion/names.go
  prover/protocol/compiler/selfrecursion/precomputations.go
  prover/protocol/compiler/selfrecursion/roothashandq.go
  prover/protocol/compiler/selfrecursion/selfrecursion.go
  prover/protocol/compiler/selfrecursion/selfrecursion_optional_sis_hash_test.go
  prover/protocol/compiler/specialqueries/fixed_permutation.go
  prover/protocol/compiler/vortex/compiler.go
  prover/protocol/compiler/vortex/gnark_verifier.go
  prover/protocol/compiler/vortex/gnark_verifier_test.go
  prover/protocol/compiler/vortex/names.go
  prover/protocol/compiler/vortex/prover.go
  prover/protocol/compiler/vortex/verifier.go
  prover/protocol/compiler/vortex/vortex_test.go
  prover/protocol/dedicated/counter_precomputed.go
  prover/protocol/dedicated/stack_columns.go
  prover/protocol/query/fixed_permutation.go
  prover/protocol/query/permutation.go
  prover/utils/utils.go
Labels: enhancement, Prover
