Repository Consensys/linea-monorepo, pull requests merged in 2025-09, with the labels that each got.

#1279 backend
  contracts/src/_testing/unit/verifiers/TestPlonkVerifierForDataAggregation.sol
  contracts/src/verifiers/PlonkVerifierForDataAggregation.sol
  contracts/test/hardhat/_testData/compressedData/aggregatedProof-1-155.json
  contracts/test/hardhat/_testData/compressedData/multipleProofs/aggregatedProof-1-81.json
  contracts/test/hardhat/_testData/compressedData/multipleProofs/aggregatedProof-82-153.json
  contracts/test/hardhat/_testData/compressedData/test/aggregatedProof-1-46.json
  contracts/test/hardhat/_testData/compressedDataEip4844/aggregatedProof-1-155.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/aggregatedProof-1-81.json
  contracts/test/hardhat/_testData/compressedDataEip4844/multipleProofs/aggregatedProof-82-153.json
  contracts/test/hardhat/_testData/compressedDataEip4844/test/aggregatedProof-1-46.json
  prover/backend/aggregation/craft.go
  prover/backend/aggregation/prove.go
  prover/backend/aggregation/request.go
  prover/backend/aggregation/response.go
  prover/backend/execution/craft.go
  prover/backend/execution/request.go
  prover/backend/execution/response.go
  prover/backend/invalidity/craft.go
  prover/backend/invalidity/prove.go
  prover/backend/invalidity/request.go
  prover/backend/invalidity/response.go
  prover/circuits/aggregation/circuit_test.go
  prover/circuits/invalidity/invalidity.go
  prover/circuits/pi-interconnection/e2e_test.go
  prover/circuits/pi-interconnection/test_utils/test_utils.go
  prover/circuits/registry.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/autoupdate.sh
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/cmd.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/invalidity_test.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/random_gen.go
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/spec-agg-2.json
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/spec-agg.json
  prover/cmd/dev-tools/testcase-gen/compression-aggregation/spec-invalidity.json
  prover/cmd/prover/cmd/prove.go
  prover/config/config.go
  prover/public-input/aggregation.go
  prover/public-input/public_inputs_test.go
Labels: Prover

#1423 EIP7702 Type 4 transaction workaround
  config/coordinator/coordinator-config-v2.toml
  gradle/libs.versions.toml
  jvm-libs/linea/besu-rlp-and-mappers/src/main/kotlin/linea/domain/MapperLineaDomainToBesu.kt
  jvm-libs/linea/besu-rlp-and-mappers/src/main/kotlin/linea/rlp/NoSignatureTransactionDecoder.kt
  jvm-libs/linea/besu-rlp-and-mappers/src/main/kotlin/linea/rlp/RLP.kt
  jvm-libs/linea/blob-compressor/build.gradle
  jvm-libs/linea/blob-compressor/src/main/kotlin/linea/blob/GoNativeBlobCompressor.kt
  jvm-libs/linea/blob-compressor/src/test/java/linea/blob/CompressorJavaAccessTest.java
  jvm-libs/linea/blob-compressor/src/test/kotlin/linea/blob/GoBackedBlobCompressorTest.kt
  jvm-libs/linea/blob-compressor/src/test/kotlin/net/consensys/linea/blob/GoNativeCompressorAndShnarfCalculatorIntTest.kt
  jvm-libs/linea/blob-decompressor/build.gradle
  jvm-libs/linea/blob-decompressor/src/main/kotlin/net/consensys/linea/blob/GoNativeBlobDecompressor.kt
  jvm-libs/linea/blob-decompressor/src/test/kotlin/net/consensys/linea/blob/GoNativeBlobDecompressorTest.kt
  jvm-libs/linea/core/domain-models/src/main/kotlin/linea/domain/Transaction.kt
  jvm-libs/linea/core/domain-models/src/testFixtures/kotlin/linea/domain/TransactionFactory.kt
  jvm-libs/linea/web3j-extensions/src/main/kotlin/linea/web3j/EthGetBlockToLineaBlockMappers.kt
  jvm-libs/linea/web3j-extensions/src/test/kotlin/linea/web3j/EthGetBlockToLineaBlockMapperTest.kt
Labels: Coordinator

#1399 Prover/Support Proof and Verifying Key Cols Expr for Stitcher
  prover/protocol/column/verifiercol/expand_proof_or_verifying_key_with_zero.go
  prover/protocol/compiler/globalcs/compile.go
  prover/protocol/compiler/globalcs/factoring.go
  prover/protocol/compiler/stitchsplit/common.go
  prover/protocol/compiler/stitchsplit/splitter.go
  prover/protocol/compiler/stitchsplit/splitter_constraints.go
  prover/protocol/compiler/stitchsplit/stitcher.go
  prover/protocol/compiler/stitchsplit/stitcher_constraints.go
  prover/protocol/compiler/stitchsplit/stitcher_test.go
  prover/protocol/serialization/implementation_registry.go
  prover/protocol/variables/periodicsample_test.go
Labels: enhancement, Prover

#1359 prover: exit on block keccack limit overflow
  prover/maths/common/smartvectors/smartvectors.go
  prover/protocol/dedicated/plonk/alignment.go
  prover/zkevm/prover/hash/packing/lane.go
Labels: Prover
