Repository Consensys/linea-monorepo, pull requests merged in 2025-08, with the labels that each got.

#1308 fix(ecdsa): fail on overflow instead of just crashing
  prover/cmd/controller/controller/controller_test.go
  prover/zkevm/prover/ecdsa/antichamber.go
Labels: Prover

#1306 update prover to go v1.24.0
  .github/workflows/prover-testing.yml
  prover/Dockerfile
  prover/backend/execution/prove.go
  prover/go.mod
  prover/protocol/dedicated/byte32cmp/decompose.go
  prover/protocol/dedicated/byte32cmp/multi_limb_cmp.go
  prover/protocol/dedicated/merkle/computemod.go
  prover/protocol/dedicated/merkle/merkle_test.go
  prover/protocol/dedicated/mimc/linear_hash.go
  prover/zkevm/arithmetization/definition.go
  prover/zkevm/prover/hash/packing/block.go
  prover/zkevm/prover/hash/packing/dedicated/accumulate_upto.go
  prover/zkevm/prover/hash/packing/lane.go
  prover/zkevm/prover/statemanager/accumulator/define.go
  prover/zkevm/prover/statemanager/mimccodehash/define.go
Labels: Prover

#1311 minor(vortex): fix the vortex compiler tests
  prover/protocol/compiler/vortex/vortex_test.go
Labels: Prover

#1289 Prover/Support Non Power of Two Column Opening to Optimise Performance
  prover/protocol/compiler/plonkinwizard/compile.go
  prover/protocol/compiler/selfrecursion/column_opening.go
  prover/protocol/compiler/selfrecursion/context.go
  prover/protocol/compiler/selfrecursion/linearhashandmerkle.go
  prover/protocol/compiler/selfrecursion/names.go
  prover/protocol/compiler/selfrecursion/precomputations.go
  prover/protocol/compiler/selfrecursion/roothashandq.go
  prover/protocol/compiler/selfrecursion/self_recursion_perf_test.go
  prover/protocol/compiler/selfrecursion/selfrecursion_optional_sis_hash_test.go
  prover/protocol/compiler/vortex/vortex_test.go
  prover/protocol/dedicated/stack_columns.go
Labels: enhancement, Prover

#1333 Chores/add la limitless prover audit
  docs/audits.md
  docs/audits/2025 August - Least Authority - Linea zkEVM Limitless Prover Final Audit Report.pdf
Labels: documentation
